<!DOCTYPE html>
<!-- Wah Yan College Kowloon mobile-friendly responsive one page site --> 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > 
    <title>Wah Yan College Kowloon</title> 
    <meta property="fb:app_id"        content="691353217713240" /> 
    <meta property="og:url"           content="http://www.wyk.edu.hk" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Wah Yan College Kowloon" />
    <meta property="og:description"   content="We offer a holistic, liberating and transforming Catholic education within a learning community for students and staff to become progressively competent, committed, compassionate, spiritual, and ethically discerning persons with a universal heart contributing to the welfare and happiness of all, in particular the poor and the neglected." />	
    <meta property="og:image" content="http://wyk.edu.hk/images/wykMainSite.jpg" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="673" />
    <meta name="description" content="A mobile-friendly responsive one page site launched at HKT Fri 2:11 AM on 17 Jan 2014."> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////
    //
    //		Styles
    //
    ///////////////////////////////////////////////////////////////////////////////////////////////////--> 
    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel='stylesheet' id='style-css'  href='style.css' type='text/css' media='all'> 
    <link rel='stylesheet' id='camera-css'  href='camera.css' type='text/css' media='all'> 
    <link rel='stylesheet' id='colorbox-css'  href='colorbox.css' type='text/css' media='all'> 

    <!--///////////////////////////////////////////////////////////////////////////////////////////////////
    //
    //		Scripts
    //
    ///////////////////////////////////////////////////////////////////////////////////////////////////--> 
    
    <!--[if lt IE 9]>
    <script src="scripts/html5.js"></script>
    <![endif]--> 
        
	<script type='text/javascript' src='https://www.google.com/jsapi'></script> 
    <script type='text/javascript' src='scripts/jquery.min.js'></script>
    <script type='text/javascript' src='scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='scripts/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='scripts/waypoints.min.js'></script> 
    <script type='text/javascript' src='scripts/camera.min.js'></script> 
    <script type='text/javascript' src='scripts/jquery.colorbox-min.js'></script> 
    <script type='text/javascript' src='scripts/custom.js'></script> 
 
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<header>
        <div id="header_border">
        </div><!-- #header_border -->
    	<div class="pix_1280">
            <div id="logo_wrap">
                <h1 id="logo"></h1>  
                <h6 id="subtitle">WAH YAN COLLEGE, KOWLOON<br />A JESUIT SECONDARY SCHOOL</h6> 
            </div><!-- #logo_wrap -->
           <div id="social_wrap">
            	<a href="http://admin.wyk.edu.hk/SportDepartment/WYKFootballPitchBookingStatus.pdf" title="Football Pitch Booking Status" id="status"></a>  
            	<a href="http://admin.wyk.edu.hk/SportDepartment/20June2018WYKFootballPitchBookingProcedure.pdf" title="Football Pitch Booking Procedure" id="procedure"></a>  
            	<a href="https://eservices.edb.gov.hk/edis/es/login" title="EDB e-Services" id="eservice"></a>  
            	<a href="http://eclass.wyk.edu.hk" title="Intranet eClass" id="eclass"></a>  
            	<a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/WallOfShields/donation.html" title="Wall of Shields" id="wall"></a>  
            	<a href="whichAdmin.php" title="WYK Administration Mobile App" id="mobile"></a>  
            	<a href="ContactMap.html" target="_blank" title="Contacts & Map" id="contact"></a>
            	<a href="http://www.facebook.com/pages/Whats-New-of-Wah-Yan-College-Kowloon/119172228282747" target="_blank" title="What's New in WYK" id="facebook"></a>
            </div><!-- #socila_wrap -->
            
            <nav>
            	<ul class="nav_max">
                	<li>
                    	<a href="#" class="current">About WYK</a>
                        <ul>
					<li><a href="http://admin.wyk.edu.hk/documents/A01%20Jesuit%20Education%20%26%20Ignatian%20Pedagogy/Profile%20of%20the%20Jesuit%20Student%20at%20Graduation%20for%20the%20Chinese%20Province%202009%20(Bilingual).pdf">Jesuit Student at Graduation</a></li>
					<li><a href="http://admin.wyk.edu.hk/documents/C01%20School%20Annual%20Plans/Mission_2009-14_MC_2009-10.pdf">Mission &amp; Major Concerns</a></li>
					<li><a href="http://wyk.edu.hk/history/">History</a></li>
					<li><a href="wykCoreValues.pdf">Values of WYK</a></li>
					<li><a href="http://wyk.edu.hk/prayer.html">Prayer for Generosity</a></li>
					<li><a href="http://wyk.edu.hk/SchoolPrayer.html">School Prayer</a></li>
					<li><a href="http://admin.wyk.edu.hk/MessageFromPrincipal">Messages From Principal</a></li>
					<li><a href="http://webmail.wyk.edu.hk">Webmail</a></li>
<li><a href="http://fb.com/pages/Legacy-of-Previous-WYK-Main-Site/206384092884420">Legacy of Previous Site</a></li>
					<li><a href="#">------------</a></li>
					<li><a href="http://admin.wyk.edu.hk/">Administration</a></li>
			<li><a href="http://admin.wyk.edu.hk/public/school/OrganizationChart.html">Organization Chart</a></li>
			<li><a href="http://wyk.edu.hk/201103_External_School_Review_Report.pdf">External School Review Report</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/">School Documents</a></li>
                        </ul>
                    </li>
                	<li>
                    	<a href="#">Admissions</a>
						<ul>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/MusicScholarshipsforP6Students.pdf">
Music Scholarships for P.6 students</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/HumanExcellenceScholarship.pdf">
Human Excellence Scholarship for P.6 students</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/WYK1983Scholarship.pdf">
WYK 1983 Scholarship</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/InfoDayRegistrationForm.pdf">
Information Day for S1 Discretionary Places  Registration Form </a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/WykDPAppForm.pdf">
Application Guidelines for S1 Discretionary Places  with Application Form</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/InterviewListS1DP.pdf">
Interview for S1 Discretionary Places </a>
			</li>
			<li>
				<a href="pdf/SundayKissArticleOnWYK.pdf">
Magazine Report on Wah Yan (Sunday KISS issue no. 863) </a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/MessageFromPrincipal/FromEastWeekIssue539.pdf">(轉載自東周刊539期)</a>
			</li>
<li><a href="PolicyOfAdmissionF234.html">Policy of Admission to Form 2,3 or 4</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Academics</a>
						<ul>
			<li><a href="http://wyk.edu.hk/pdf/WYK_National_Education_20120926.pdf">National Education</a></li>
			<li><a href="http://eclass.wyk.edu.hk/">eClass Intranet</a></li>
			<li><a href="http://careers.wyk.edu.hk/">Careers </a></li>
			<li><a href="http://library.wyk.edu.hk/">Students' Library</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/C04%20Small%20Class%20Teaching/">Small Class Teaching</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Further Studies</a>
						<ul>
			<li><a href="http://careers.wyk.edu.hk/scholarships/">Scholarships/Grants and financial assistance</a></li>
			<li><a href="http://careers.wyk.edu.hk/reference/">Request for completing school reference report / Public examinations results prediction</a></li>
			<li><a href="http://careers.wyk.edu.hk/testimonial/">Application for Testimonial / Transcript</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">School Life</a>
						<ul>
			<li><a href="http://ibank.wyk.edu.hk/">WYK Photobank</a></li>
			<li><a href="http://campustv.wyk.edu.hk/">WYK Campus TV</a></li>
			<li><a href="http://times.wyk.edu.hk/">The Wah Yan Times</a></li>
			<li><a href="http://services.wyk.edu.hk/">Services</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Giving to WYK</a>
						<ul>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/FR.%20KELLY%20EDUCATIONAL%20FUND%20LIMITED..pdf">
       Fr. Kelly Educational Fund Ltd.</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/Ballpark%20Figures%20of%20the%20Expenditure%20of%20Fr.%20Kelly%20Educational%20Fund%20Ltd.%20(2015-16).pdf">
Ballpark Figures of the Expenditure of Fr. Kelly Educational Fund Ltd. (2015-16)</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/WallOfShields/donation.html">
Wall Of Shields</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/(Amended)%20Sustainable%20Development%20Plan%20for%20Sports%20Team.pdf">
Sustainable Development Plan for Sports Teams</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/A02.2%20Waterloo%20Rd%20Campus%2060th%20Anniversary/Campus%2060th%20Anniv%20Donation%20Form%20updated.pdf">
       Campus 60th anniversary donation</a></li>
			<li><a href="http://www.wahyanonefamily.org/">Wah Yan One Family</a></li>
			<li><a href="http://wyktennis.com/">Fr. Finneran Memorial Fund</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Fathers</a>
						<ul>
					<li><a href="http://www.frzee.com/">Rev. George Zee, S.J.</a></li>
					<li><a href="http://www.hnaylor.net/">Rev. Harold Naylor, S.J.</a></li>
					<li><a href="http://www.ied.edu.hk/video/index2.htm">DVD on Fr. Deignan</a></li>
					<li><a href="FatherFarren/Fr%20Farren.pdf">Memorial of Fr. Farren</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Links</a>
						<ul>
			<li><a href="AppealLetterTSW5thIntake.html">Appeal Letter for Volunteers</a></li>
			<li><a href="http://www.wykpsa.org.hk/">Past Students' Association</a></li>
			<li><a href="http://pa.wyk.edu.hk/">Parents' Association</a></li>
			<li><a href="https://www.facebook.com/JesuitsChinese">天主教 耶穌會</a></li>
			<li><a href="http://www.wahyan.edu.hk/">Wah Yan College, Hong Kong</a></li>
			<li><a href="http://www.wahyan.net/">Wah Yan International Network</a></li>
						</ul>
                    </li>
                </ul>
                
                <ul class="nav_min">
                	<li>
                    	<a href="#">Menu</a>
                        <ul>
                	<li>
                    	<a href="#" class="current">About WYK</a>
                        <ul>
					<li><a href="http://admin.wyk.edu.hk/documents/A01%20Jesuit%20Education%20%26%20Ignatian%20Pedagogy/Profile%20of%20the%20Jesuit%20Student%20at%20Graduation%20for%20the%20Chinese%20Province%202009%20(Bilingual).pdf">Jesuit Student at Graduation</a></li>
					<li><a href="http://admin.wyk.edu.hk/documents/C01%20School%20Annual%20Plans/Mission_2009-14_MC_2009-10.pdf">Mission &amp; Major Concerns</a></li>
					<li><a href="wykCoreValues.pdf">Values of WYK</a></li>
					<li><a href="http://wyk.edu.hk/prayer.html">Prayer for Generosity</a></li>
					<li><a href="http://wyk.edu.hk/SchoolPrayer.html">School Prayer</a></li>
					<li><a href="http://wyk.edu.hk/history/">History</a></li>
					<li><a href="http://admin.wyk.edu.hk/MessageFromPrincipal">Messages From Principal</a></li>
					<li><a href="http://webmail.wyk.edu.hk">Webmail</a></li>
<li><a href="http://fb.com/pages/Legacy-of-Previous-WYK-Main-Site/206384092884420">Legacy of Previous Site</a></li>
                        </ul>
                    </li>
                	<li>
                    	<a href="#">Admissions</a>
						<ul>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/MusicScholarshipsforP6Students.pdf">
Music Scholarships for P.6 students</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/HumanExcellenceScholarship.pdf">
Human Excellence Scholarship for P.6 students</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/WYK1983Scholarship.pdf">
WYK 1983 Scholarship</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/InfoDayRegistrationForm.pdf">
Information Day for S1 Discretionary Places  Registration Form </a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/WykDPAppForm.pdf">
Application Guidelines for S1 Discretionary Places  with Application Form</a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/documents/E02%20S1%20Admission/InterviewListS1DP.pdf">
Interview for S1 Discretionary Places </a>
			</li>
			<li>
				<a href="pdf/SundayKissArticleOnWYK.pdf">
Magazine Report on Wah Yan (Sunday KISS issue no. 863) </a>
			</li>
			<li>
				<a href="http://admin.wyk.edu.hk/MessageFromPrincipal/FromEastWeekIssue539.pdf">(轉載自東周刊539期)</a>
			</li>  
<li><a href="PolicyOfAdmissionF234.html">Policy of Admission to Form 2,3 or 4</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Administration</a>
						<ul>
			<li><a href="http://admin.wyk.edu.hk/">Administration</a></li>
			<li><a href="http://admin.wyk.edu.hk/public/school/OrganizationChart.html">Organization Chart</a></li>
			<li><a href="http://wyk.edu.hk/201103_External_School_Review_Report.pdf">External School Review Report</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/">School Documents</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Academics</a>
						<ul>
			<li><a href="http://wyk.edu.hk/pdf/WYK_National_Education_20120926.pdf">National Education</a></li>
			<li><a href="http://eclass.wyk.edu.hk/">eClass Intranet</a></li>
			<li><a href="http://careers.wyk.edu.hk/">Careers </a></li>
			<li><a href="http://library.wyk.edu.hk/">Students' Library</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/C04%20Small%20Class%20Teaching/">Small Class Teaching</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Further Studies</a>
						<ul>
			<li><a href="http://careers.wyk.edu.hk/scholarships/">Scholarships/Grants and financial assistance</a></li>
			<li><a href="http://careers.wyk.edu.hk/reference/">Request for completing school reference report / Public examinations results prediction</a></li>
			<li><a href="http://careers.wyk.edu.hk/testimonial/">Application for Testimonial / Transcript</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">School Life</a>
						<ul>
			<li><a href="http://ibank.wyk.edu.hk/">WYK Photobank</a></li>
			<li><a href="http://campustv.wyk.edu.hk/">WYK Campus TV</a></li>
			<li><a href="http://times.wyk.edu.hk/">The Wah Yan Times</a></li>
			<li><a href="http://services.wyk.edu.hk/">Services</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Giving to WYK</a>
						<ul>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/FR.%20KELLY%20EDUCATIONAL%20FUND%20LIMITED..pdf">
       Fr. Kelly Educational Fund Ltd.</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/Ballpark%20Figures%20of%20the%20Expenditure%20of%20Fr.%20Kelly%20Educational%20Fund%20Ltd.%20(2015-16).pdf">
Ballpark Figures of the Expenditure of Fr. Kelly Educational Fund Ltd. (2015-16)</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/WallOfShields/donation.html">
Wall Of Shields</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/(Amended)%20Sustainable%20Development%20Plan%20for%20Sports%20Team.pdf">
Sustainable Development Plan for Sports Teams</a></li>
			<li><a href="http://admin.wyk.edu.hk/documents/A02%20Fr.%20Kelly%20Educational%20Fund%20Ltd/A02.2%20Waterloo%20Rd%20Campus%2060th%20Anniversary/Campus%2060th%20Anniv%20Donation%20Form%20updated.pdf">
       Campus 60th anniversary donation</a></li>
			<li><a href="http://www.wahyanonefamily.org/">Wah Yan One Family</a></li>
			<li><a href="http://wyktennis.com/">Fr. Finneran Memorial Fund</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Fathers</a>
						<ul>
					<li><a href="http://www.frzee.com/">Rev. George Zee, S.J.</a></li>
					<li><a href="http://www.hnaylor.net/">Rev. Harold Naylor, S.J.</a></li>
					<li><a href="http://www.ied.edu.hk/video/index2.htm">DVD on Fr. Deignan</a></li>
					<li><a href="FatherFarren/Fr%20Farren.pdf">Memorial of Fr. Farren</a></li>
						</ul>
                    </li>
                	<li>
                    	<a href="#">Community Links</a>
						<ul>
			<li><a href="AppealLetterTSW5thIntake.html">Appeal Letter for Volunteers</a></li>
			<li><a href="http://www.wykpsa.org.hk/">Past Students' Association</a></li>
			<li><a href="http://pa.wyk.edu.hk/">Parents' Association</a></li>
			<li><a href="https://www.facebook.com/JesuitsChinese">天主教 耶穌會</a></li>
			<li><a href="http://www.wahyan.edu.hk/">Wah Yan College, Hong Kong</a></li>
			<li><a href="http://www.wahyan.net/">Wah Yan International Network</a></li>
						</ul>
                    </li>
                </ul>
            </nav>
        </div><!-- .pix_1280 -->
    </header>
    
    <div class="clear anchor_points" id="top_anchor"></div>
    <section>
    	<div class="pix_1280">
            <div class="camera_wrap camera_white_skin" id="camera_index">
{% for slide in slides %}
<div data-thumb="images/slides/thumbs/{{ slide.banner }}" 
     data-src="images/slides/{{ slide.banner }}"
     {% if slide.video %}
     data-video="hide"
     {% else %}
     	{% if slide.link %}
     data-link="{{ slide.link }}" data-target="_blank"
     	{% endif %}
     {% endif %}
     >
     {% if slide.video %}
     <div class="videoWrapper">
     	<iframe width="560" height="315" src="//www.youtube.com/embed/{{ slide.video }}?rel=0" frameborder="0" allowfullscreen></iframe>
     </div>	
     {% endif %}
     {% if slide.caption %}
     <div class="camera_caption fadeFrom{{ slide.caption_dir }}">
	       {{ slide.caption }}
       </div>
     {% endif %}
</div>
{% endfor %}
            </div><!-- .camera_wrap -->            
            <div id="statement">
				<p style="text-align: center">Jesuit Vision Statement for our Education Apostolate in Hong Kong:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<p>"We offer a holistic, liberating and transforming Catholic education within a learning community for students and staff to become progressively competent, committed, compassionate, spiritual, and ethically discerning persons with a universal heart contributing to the welfare and happiness of all, in particular the poor and the neglected."</p>
			</div>
<div class="alignright">
<div class="fb-like" data-href="http://www.wyk.edu.hk" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div><!-- .alignright -->
			<div class="alignleft">
				<a href="http://www.facebook.com/JesuitsChinese">
					<img src="images/JesuitsChinese.png"  align="left" alt="Societas Iesu, S.J." />
				</a>
            	<small style="padding-bottom:60px">
                   &copy;2014-8 Wah Yan College, Kowloon.<br />
                   College of The Sacred Heart<br />
                   56 Waterloo Road, Hong Kong SAR.<br />
                </small>
            </div><!-- .alignleft -->
            <div class="aligncenter"><small>
<div><small>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></small></div>
Last updated - {{ posting_date }}
            </small></div><!-- .aligncenter -->
        </div><!-- .pix_1280 -->
    </section>
    <div id="resize"></div>
    </body> 
</html>
