<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ title }}">
<title>{{ title }}</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg">
<source type="audio/mp3" src="">
Sorry, your browser does not support HTML5 audio.
</audio>
<div id="playlist">
{% var episodeNbr = 1 %}	
{% for podcast in podcasts %}	
<div><a href="{{ podcast.url }}">{{ episodeNbr }}</a></div>
{% episodeNbr = episodeNbr + 1 %}
{% endfor %}   
</div>
<pre>
{{ broadcast_date }}
{% for podcast in podcasts %}	
{{ podcast.caption }}   
{% endfor %}   
</pre>
<script type="text/javascript">
var podcast = {
	episodes: {{ len(podcasts) }}
}
</script>
<script type='text/javascript' src="podcastapp.js"></script>
</body>
</html>
